# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 
DB_HOST=34.64.121.130
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Kwu2025!
DB_NAME=gptersdb

JWT_SECRET=gpters123!@
GOOGLE_CLIENT_ID=818860814386-657erftg353vp6ade4nrte9nfpcujmha.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
KAKAO_CLIENT_ID=7a39b6cc6c5b8da640d0c6751720c32b
KAKAO_CLIENT_SECRET=jSQtlxA4AUa5Q36W3RzrkFapuOcFwhkF
GITHUB_CLIENT_ID=Ov23li2DyE9AW8kfs5Ck
GITHUB_CLIENT_SECRET=1c9401c318367734e56c9aa42028ac08a0f1381d
CALLBACK_BASE_URL=http://localhost:3000/auth
